__Import Libraries__

In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [81]:
df_path = "E:/Workspace/GIS/gis_salary_proj/data/job_data.parquet"
df = pd.read_parquet(df_path).drop_duplicates(
    subset=['Company']).reset_index(drop=True)
df.head()

,Location,Company,Salary,Job Role
0,"Bhubaneshwar, Orissa",Triconn Solutions,"₹30,000 - ₹50,000 a month",GIS Developer
1,"Bengaluru, Karnataka",Recrumart,"₹5,00,000 - ₹11,00,000 a year",GIS Developer(JavaScript Environment)
2,"Bhopal, Madhya Pradesh",Actics Technologies Pvt. Ltd.,"₹10,00,000 - ₹14,00,000 a year",GIS Developer
3,"Noida, Uttar Pradesh",AHRC Pvt Ltd,"Up to ₹8,00,000 a year",GIS Developer
4,"Noida, Uttar Pradesh",Apogee GNSS Pvt. Ltd.,"₹5,00,000 - ₹12,00,000 a year",Senior Java Developer

__1st Step to Clean the data is to convert per month salary to Year Salay__

In [82]:
def daySalaryConvert(salary):
    max_salary = int("7,000 - 7,500 a day".replace("a day","").split("-")[1].replace(",","")) * 365
    return max_salary

def monthSalaryConvert(salary):
    # salary_range_1 = int(salary.replace("₹", "").strip(
    #     "a month").replace("-", "").split(" ")[0].replace(",", "")) * 12
    salary_range_2 = int(salary.replace("₹", "").strip(
        "a month").replace("-", "").split(" ")[-1].replace(",", "")) * 12
    return f"{salary_range_2}"

__Per month and per day is Converted into Annual salary__

In [83]:
month_salary = []
month_index = []
for i, x in enumerate(df.Salary):
    if "month" in x and len(x) >= 25:
        month_salary.append(monthSalaryConvert(x))
        month_index.append(i)
    elif "From" in x and "month" in x:
        sal = int(x.split(" ")[1].replace("₹", "").replace(",", "")) * 12
        month_salary.append(f"{sal} a year")
        month_index.append(i)
    elif "a month" in x:
        sal = int(x.split(" ")[0].replace("₹", "").replace(",", "")) * 12
        month_salary.append(f"{sal} a year")
        month_index.append(i)
    elif "a day" in x:
        month_salary.append(daySalaryConvert(x))
        month_index.append(i)


df.Salary[month_index] = month_salary

__Remove unnecessary strings from the Salary Column__

In [84]:
rm_string = {"\₹":"", "a year": "","Up to": "",",":"","From":""}
df['Salary'] = df['Salary'].replace(rm_string, regex=True)